@model  Leginfor.Models.Index.Index
@using System.Globalization
@using Leginfor.Models.Index
@{
    ViewBag.Title = "Bienvendidos";
}
<style type="text/css">
    .fixed-panel {
              min-height: 315px;
              max-height: 315px;
              background-color:#666666;
              color:#ffffff;
              font-weight:bold;
            }

    .fix-panel{
        min-height: 496px;
        max-height: 496px;
        max-width:100%;
        min-width:100%;
        overflow-y: scroll;
        
    }
    .fix-panel-tab{
        min-height: 950px;
        max-height: 950px;
        overflow-y: scroll;
    }
    .panel-title a{
        color: #FFF;
    }
    .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: #FFF;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
</style>


 <!--  Banner Area Start here -->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-bennar">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-9">
                            <div class="indicadores">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">INDICADORES</h3>
                                    </div>
                                    <div class="panel-body fixed-panel">
                                        <table class="table table-responsive" style="font-size:14px; color:#FFF">
                                            @foreach (var ind in Model.lstIndicadores)
                                            {
                                                <tr>
                                                    <td>@ind.Indicador</td>
                                                    <td>@ind.Valor</td>
                                                </tr>
                                            }
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <h2>BIENVENIDOS</h2>-->

                </div>
            </div>
        </div>
    </div>
</div>
<!--  Banner Area End here -->
    <!-- Blog Area Start -->

<div class="total-blog-area">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="blog-sidebar-area">
                    <div class="single-sidebar">
                        <div class="row">
                        
                            <div id="datetimepicker12"></div>
                        
                        </div>
                    </div>
                    <div class="single-sidebar">

                        <h2>Valores Agregados</h2>
                        <div class="sidebar-category">
                            <ul>
                                <li><a href="#">&Iacute;ndice DOF v&iacute;a email</a></li>
                                <li><a href="sections/ValoresAgregados/wfAsesorias.aspx">Asesor&iacute;as </a></li>
                                <li><a href="sections/ValoresAgregados/Home.aspx?Sid=3">Casos pr&aacute;cticos</a></li>
                                <li><a href="sections/ValoresAgregados/Home.aspx?Sid=4">Art&iacute;culos físcales</a></li>
                                <li><a href="sections/products/indicadores/values.aspx?id=1">Indicadores financieros</a></li>
                                <li><a href="sections/products/Indicadores/divisas/moneda.aspx">Convertidor de divisas</a></li>
                                <li><a href="sections/products/Gacetas/Home.aspx">Gacetas y peri&oacute;dicos  oficiales</a></li>
                                <!--<li><a href="#">Gaceta del D.F.</a></li>-->
                                <li><a href="sections/products/Miscelanea/Home.aspx">Miscel&aacute;nea Fiscal</a></li>
                                <li><a href="sections/products/Normas/Home.aspx">Colecci&oacute;n de normas</a></li>
                                <li><a href="sections/products/legafiscal/Tablas/Default.aspx">Tablas y tarifas</a></li>
                                <li><a href="sections/products/Calculadoras/Home.aspx">Calculadoras </a></li>
                            </ul>
                        </div>


                    </div>
                    <div class="single-sidebar">

                        
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center"><h3 class="panel-title"><i class="fa fa-newspaper-o"></i> NOTICIAS RSS</h3></div>
                                    <div class="panel-body fix-panel">
                                        <table class="table table- table-responsive" width="100%">
                                            <thead>

                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Rss)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.Raw(item.Image)
                                                        </td>
                                                        <td>
                                                            <a href="@item.Link" target="_blank">@System.Web.HttpUtility.HtmlDecode(item.Titulo)</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                               
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="single-blog-post">
                    <div class="row">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title pull-left">
                                   <i class="fa fa-file-text-o"></i> DIARIO OFICIAL DE LA FEDERACIÓN
                                </div>
                                <div class="panel-title pull-right">@DateTime.Now.ToString("dddd dd, MMMM yyyy", new CultureInfo("es-ES")).ToUpper()</div>
                                <div class="clearfix"></div>
                               
                            </div>
                            <div class="panel-body">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr class="active text-center">
                                        <td>Ver Índice del Día <i class="fa fa-search"></i></td>
                                        <td>DOF Completo.Exe <i class="fa fa-file-code-o"></i><br />DOF Completo.Zip <i class="fa fa-file-zip-o"></td>
                                        <td>Imprimir Índice <i class="fa fa-print"></i></td>
                                        <td>Edición vespertina <i class="fa fa-reorder"></i></td>
                                    </tr>
                                        </thead>
                                </table>
                                
                                <div class="panel-group" id="accordion">
                                
                                    @{ 
                                        var secre = Model.Dof.GroupBy(s => s.GobId)
                                                    .Select(grp => grp.First())
                                                    .ToList();
                                    }
                                    @foreach(var sec in secre)
                                    {

                                    <div class="panel panel-default" id="panel1">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-target="#collapseOne"
                                                   href="#collapseOne">
                                                    @sec.GobNombre
                                                </a>
                                            </h4>

                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body">
                                            </div>
                                        </div>
                                    </div>
                                    }                        
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">

                        <ul class="nav nav-tabs practice-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#business" data-controls="home" role="tab" data-toggle="tab">Reformas Federales</a></li>
                            <li role="presentation"><a href="#criminal" data-controls="profile" role="tab" data-toggle="tab">Relevante Dof</a></li>
                            <li role="presentation"><a href="#gaceta" data-controls="messages" role="tab" data-toggle="tab">Relevante Gaceta DF</a></li>
                            <li role="presentation"><a href="#divorse" data-controls="messages" role="tab" data-toggle="tab">Relevante Fiscal</a></li>


                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content panel-default practice-content fix-panel-tab" >
                            <div role="tabpanel" class="tab-pane active" id="business">

                                <table class="table table-responsive">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        @foreach (var refFed in Model.ReformasFed)
                                        {
                                            <tr>
                                                <td class="text-center text-blod">@refFed.Fecha</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center text-blod">@refFed.Titulo</td>
                                            </tr>
                                            <tr>
                                                <td>@refFed.Extracto</td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                                
                            </div>
                            <div role="tabpanel" class="tab-pane" id="criminal">

                                <table class="table table-responsive">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        @foreach (var relDof in Model.lstRelevantesDof)
                                        {
                                            <tr class="text-center text-blod">
                                                <td>@relDof.NotiPublicacion.ToString("dd-MMMM-yyyy")</td>
                                               
                                            </tr>
                                            <tr>
                                             <td>@relDof.Titulo</td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                                
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="gaceta">

                                <table class="table table-responsive">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        @foreach (var relGac in Model.lstRelGaceta)
                                        {
                                            <tr class="text-center text-blod">
                                                <td>@relGac.NotiPublicacion.ToString("dd-MMMM-yyyy")</td>

                                            </tr>
                                            <tr>
                                                <td>@relGac.Titulo</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="divorse">
                                <table class="table table-responsive">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        @foreach (var relFis in Model.lstRelFiscal)
                                        {
                                            <tr class="text-center text-blod">
                                                <td>@Html.Raw(relFis.Titulo)</td>

                                            </tr>
                                            <tr>
                                                <td>@Html.Raw(relFis.Resumen)</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.Raw(relFis.Fuente.Replace("added/image/", "http://200.66.72.181/sections/content/News/added/image/").Replace(@"added\image\", "http://200.66.72.181/sections/content/News/added/image/"))</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                
                            </div>


                        </div>
                    </div>

                    </div>
                    
                </div>

            </div>
        </div>
    </div>

<!-- Blog Area End -->
<!-- Advertise Banner Area Start -->
<div class="advertise-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bennar">
                    <h2>Nuestros Productos</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Advertise Banner Area End -->

<!-- Our Practice Area Start Here -->
<div class="our-practice-area">
    
    <div class="practice-area">
        <div class="practice-section">
            <div class="single-practice">
                <div class="single-practice-content">
                    <i class="fa fa-users"></i>
                    <h3><a href="#">DOF</a></h3>
                    <p>Publicación diaria.</p>
                       
                        <ul> Características.
                            <li>Publicación diaria a partir de las 7:00 am</li>
                            <li>Posibilidad de visualizar y descargar en varios formatos (Word, PDF y HTML)</li>
                        </ul>
                        <ul>Publicación Histórica
                            <li>Índices desde 1917 a la fecha</li>
                            <li>Textos completos en html y pdf de 1968 al 1993</li>
                            <li>Texto completos en html, word y pdf 1994 a la fecha</li>
                        </ul>	
                        
                      <div class="read-more">
                        <a href="#">Leer Mas</a>
                    </div>
                </div>
            </div>
            <div class="single-practice">
                <div class="single-practice-content">
                    <i class="fa fa-pencil-square-o"></i>
                    <h3><a href="#">Web Service</a></h3>
                    <p>Publicación diaria.</p>

                    <ul>
                        Características.
                        <li>Publicación diaria a partir de las 7:00 am</li>
                        <li>Posibilidad de visualizar y descargar en varios formatos (Word, PDF y HTML)</li>
                    </ul>
                    <ul>
                        Publicación Histórica
                        <li>Índices desde 1917 a la fecha</li>
                        <li>Textos completos en html y pdf de 1968 al 1993</li>
                        <li>Texto completos en html, word y pdf 1994 a la fecha</li>
                    </ul>	
                    <div class="read-more">
                        <a href="#">Leer Mas</a>
                    </div>
                </div>
            </div>
            <div class="single-practice">
                <div class="single-practice-content">
                    <i class="fa fa-briefcase"></i>
                    <h3><a href="#">DOF Papel</a></h3>
                    <p>Publicación diaria.</p>

                    <ul>
                        Características.
                        <li>Publicación diaria a partir de las 7:00 am</li>
                        <li>Posibilidad de visualizar y descargar en varios formatos (Word, PDF y HTML)</li>
                    </ul>
                    <ul>
                        Publicación Histórica
                        <li>Índices desde 1917 a la fecha</li>
                        <li>Textos completos en html y pdf de 1968 al 1993</li>
                        <li>Texto completos en html, word y pdf 1994 a la fecha</li>
                    </ul>	
                    <div class="read-more">
                        <a href="#">Leer Mas</a>
                    </div>
                </div>
            </div>
            <div class="single-practice">
                <div class="single-practice-content">
                    <i class="fa fa-users"></i>
                    <h3><a href="#">Compilacion</a></h3>
                    <p>Publicación diaria.</p>

                    <ul>
                        Características.
                        <li>Publicación diaria a partir de las 7:00 am</li>
                        <li>Posibilidad de visualizar y descargar en varios formatos (Word, PDF y HTML)</li>
                    </ul>
                    <ul>
                        Publicación Histórica
                        <li>Índices desde 1917 a la fecha</li>
                        <li>Textos completos en html y pdf de 1968 al 1993</li>
                        <li>Texto completos en html, word y pdf 1994 a la fecha</li>
                    </ul>	
                    <div class="read-more">
                        <a href="#">Leer Mas</a>
                    </div>
                </div>
            </div>
            <div class="single-practice">
                <div class="single-practice-content">
                    <i class="fa fa-line-chart"></i>
                    <h3><a href="#">DOF Internet</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ea sint quae, soluta, praesentium aliquam id quo in quibusdam distinctio hic eaque doloremque dolorum reprehenderit nesciunt quod. Deleniti, ratione, distinctio.</p>
                    <div class="read-more">
                        <a href="#">Leer Mas</a>
                    </div>
                </div>
            </div>
            <div class="single-practice">
                <div class="single-practice-content">
                    <i class="fa fa-users"></i>
                    <h3><a href="#">Valores Agregados</a></h3>
                    <p>Publicación diaria.</p>

                    <ul>
                        Características.
                        <li>Publicación diaria a partir de las 7:00 am</li>
                        <li>Posibilidad de visualizar y descargar en varios formatos (Word, PDF y HTML)</li>
                    </ul>
                    <ul>
                        Publicación Histórica
                        <li>Índices desde 1917 a la fecha</li>
                        <li>Textos completos en html y pdf de 1968 al 1993</li>
                        <li>Texto completos en html, word y pdf 1994 a la fecha</li>
                    </ul>	
                    <div class="read-more">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Practice Area End Here -->


<div class="make-appointment-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="make-appointment">
                    <h2>NUESTROS CLIENTES</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Make An Appointment Area End here -->
<!-- Partner Logo Area Start Here -->
<div class="client-logo-area">
    <div class="container">
        <div class="client-logo">
            <div class="single-logo">
                <a href="#">
                    <img src="/Content/img/clientes/logo_portal_tepjf.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">
                    <img src="/Content/img/clientes/Afore-XXI-Banorte.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">
                    <img src="/Content/img/clientes/sat.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/scjn.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/Banco_de_México_logo.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/Bansefi.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/CamaraDiputados.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/cemex.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/csam.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/femsa.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/imagenServlet.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/imp.gif" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/imss.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/infonavit.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/logo_logo.png" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/LogoCNIAA.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/sabormex.jpg" />
                </a>
            </div>
            <div class="single-logo">
                <a href="#">

                    <img src="/Content/img/clientes/unam.png" />
                </a>
            </div>


        </div>
    </div>
</div>
<!-- Partner Logo Area End Here -->
<!-- Get Free Consultation Start Here -->
<div class="get-free-consultation-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="consultation-text">
                    <h3>Suscribete y uno de nuestros ejecutivos se pondra en contacto contigo.</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="contact-buttom">
                    <a href="/Contactanos.aspx">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</div>
